    <div id="about-me" class="w-full h-screen flex items-center justify-center px-12 xl:px-96 lg:px-72 md:px-32 text-center z-10">
        <div>
            <h1 class="sr-bottom relative text-gray-300 text-4xl font-bold w-max mx-auto px-4 py-3 before:absolute before:left-2 before:top-2 before:-z-10 before:w-full before:h-full before:border-2 before:border-secondary-txt after:absolute after:-left-2 after:-top-2 after:-z-10 after:w-full after:h-full after:border-2 after:border-primary-txt">
                A propos de moi
            </h1>
            <div class="mt-24 text-gray-400 text-md w-96 flex flex-col justify-center items-center gap-4">
                <p class="sr-left">
                    Je suis actuellement en 1e année du cycle ingénieur à l'<a href="https://www.ece.fr/" target="_blank" class="relative inline-block font-bold from-primary-txt to-secondary-txt bg-gradient-to-r bg-clip-text text-transparent before:block before:duration-200 before:w-0 before:hover:w-full before:h-[1px] before:absolute before:top-full before:left-0 before:from-primary-txt before:to-secondary-txt before:bg-gradient-to-r">
                    ECE</a>, à Paris.
                </p>
                <p class="sr-right">
                    La programmation est un domaine que j'ai découvert, et dont j'ai été pris de passion, en 2019.
                </p>
                <p class="sr-left">
                    J'ai eu l'occasion de travailler sur de nombreux projets, qui m'ont permis d'acquérir des
                    <span class="font-bold from-primary-txt to-secondary-txt bg-gradient-to-r bg-clip-text text-transparent">compétences solides</span> dans diverses technologies. 
                </p>
                <p class="sr-right">
                    Par le biais de mes études, j'ai également pu développer des <span class="font-bold from-primary-txt to-secondary-txt bg-gradient-to-r bg-clip-text text-transparent">compétences en éléctronique</span>, un domaine tout aussi passionnant, interessant et prometteur.
                </p>
                <p class="sr-left">
                    Me définissant comme une personne <span class="font-bold from-primary-txt to-secondary-txt bg-gradient-to-r bg-clip-text text-transparent">curieuse et ambitieuse</span>, je suis toujours à la recherche de nouveaux projets, de nouvelles technologies, et de nouvelles compétences à acquérir.
                </p>
            </div>
        </div>
    </div>