<div id="parcours" class="w-full h-screen flex items-center justify-center px-12 xl:px-96 lg:px-72 md:px-32 z-10">
    <div class="w-full">
        <h1 class="sr-bottom relative text-gray-300 text-4xl font-bold w-max mx-auto px-4 py-3 before:absolute before:left-2 before:top-2 before:-z-10 before:w-full before:h-full before:border-2 before:border-secondary-txt after:absolute after:-left-2 after:-top-2 after:-z-10 after:w-full after:h-full after:border-2 after:border-primary-txt">
            Mon parcours
        </h1>
        <div class="mt-24 text-gray-400 text-md w-full grid grid-cols-2">
            Mon parcours...
        </div>
    </div>
</div>