    <div class="sr-bottom fixed top-0 left-0 w-full px-12 xl:px-96 lg:px-72 md:px-32 py-3 bg-black z-50 flex items-center justify-between gap-3">
        <a href="#accueil" class="relative block text-gray-300 hover:text-primary-txt duration-200 before:block before:w-0 before:h-[3px] before:absolute before:top-full before:bg-primary-txt before:hover:w-full before:duration-200">
            Accueil
        </a>
        <a href="#about-me" class="relative block text-gray-300 hover:text-primary-txt duration-200 before:block before:w-0 before:h-[3px] before:absolute before:top-full before:bg-primary-txt before:hover:w-full before:duration-200">
            About me
        </a>
        <a href="#technologies" class="relative block text-gray-300 hover:text-primary-txt duration-200 before:block before:w-0 before:h-[3px] before:absolute before:top-full before:bg-primary-txt before:hover:w-full before:duration-200">
            Technologies
        </a>
        <!-- <a href="#parcours" class="relative block text-gray-300 hover:text-primary-txt duration-200 before:block before:w-0 before:h-[3px] before:absolute before:top-full before:bg-primary-txt before:hover:w-full before:duration-200">
            Parcours
        </a> -->
        <a href="#projects" class="relative block text-gray-300 hover:text-primary-txt duration-200 before:block before:w-0 before:h-[3px] before:absolute before:top-full before:bg-primary-txt before:hover:w-full before:duration-200">
            Projets
        </a>
        <a href="#articles" class="relative block text-gray-300 hover:text-primary-txt duration-200 before:block before:w-0 before:h-[3px] before:absolute before:top-full before:bg-primary-txt before:hover:w-full before:duration-200">
            Articles
        </a>
        <a href="#quotes" class="relative block text-gray-300 hover:text-primary-txt duration-200 before:block before:w-0 before:h-[3px] before:absolute before:top-full before:bg-primary-txt before:hover:w-full before:duration-200">
            Avis
        </a>
    </div>